<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">

</head>

<body>
    <wrapper id="main-wrapper">

        <header>NPR Headline Summary</header>

        {{{body}}}

        <footer>
            <div>
                Created by: <a href="https://joeyvon2434.github.io/josephvonedwins/">Joseph Von Edwins</a>
            </div>
        </footer>

    </wrapper>


</body>

</html>